.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.sidebar__menu {
    width: 100%;
    margin-top: 30px;
}